<template>
  <div>
    <div class="property" @click="clicked(keyName)"
      :class="{ 'property-selected': selected }">
      <div v-if="typeof item == 'object' && isOpen" class="property-arrow">&#9660; </div>
      <div v-if="typeof item == 'object' && !isOpen" class="property-arrow">&#9654; </div>
      <div>{{ keyName }}</div>
      <div v-if="typeof item != 'object'" class="property-value">{{ item }}</div>
    </div>
    <Tree v-if="typeof item == 'object' && isOpen"
      :open="isOpen"
      :child-open="false"
      :original-json="originalJson"
      :this-json="item"
      :root="false" @update="sendUpdate">
    </Tree>
  </div>
</template>

<script>

export default {
  name: 'key',
  props: [
    "thisJson",
    "originalJson", 
    "keyName", // object key
    "item", // string / array / object that this key points to
    "open",
    "childOpen",
  ],
  data() {
    return {
      path: "",
      selected: false,
      justClicked: false,
      isChildOpen: this.childOpen,
      isOpen: this.open
    }
  },
  created() {
    eventHub.$on("other-clicked", this.deselect)
  },
  beforeDestroy() {
    eventHub.$off("other-clicked", this.deselect)
  },
  methods: {
    clicked(key) {
      this.isOpen = !this.isOpen;
      this.justClicked = true;
      this.selected = true;
      // run searchObject() on this key
      this.$emit("check", key);
      eventHub.$emit("other-clicked");
      this.justClicked = false;
    },
    sendUpdate(path) {
      this.$emit("update", path);
    },
    deselect() {
      if (!this.justClicked) this.selected = false;
    }
  },
  components: {
    Tree: () => import('./tree.vue')
  }
}
</script>