<template>
  <div>
    <div :class="'picker' + type" ref="picker"></div>
  </div>
</template>

<style src="../static/gpickr.css"></style>

<script>

  import '../static/gpickr.js'
  // import Pickr from '@simonwep/pickr';

  export default {
    props: {
      type: {
        type: String,
        default: 'gradient',
      },
      value: {
        type: String,
        default: 'linear-gradient(to top, rgb(0,0,0) 0, rgb(0,0,0) 0)',
      },
    },
    data() {
      return {
        colorPicker: null,
      };
    },
    methods: {
      onColorChange(color) {
        let cssValue = this.colorPicker.getGradient()
        // console.info('gpickr changed', cssValue)
        this.$emit('input', cssValue);
      },
      onMount(colorPicker) {
        console.info('gpickr mounted')
        // this.$emit('mount', {
        //   colorPicker,
        // });
      },
      setValue(v) {
        if (this.colorPicker && v) {
          // console.info('setting newValue', v)
          this.colorPicker.setGradient(v) // || 'linear-gradient(to top, rgb(0,0,0) 0, rgb(0,0,0) 0)');
        }
      },
    },
    mounted() {
      if(this.type==="xsolid") {
        // this.colorPicker = Pickr.create({
        //   el: '#',
        //   theme: 'nano',
        //   inline: true,
        //   useAsButton: true,
        //   showAlways: true,
        //   defaultRepresentation: 'RGBA',

        //   components: {
        //     palette: true,
        //     preview: true,
        //     opacity: true,
        //     hue: true,

        //     interaction: {
        //         input: true
        //     }
        //   }
        // })
      } else {

        this.colorPicker = new GPickr({
          el: '.picker' + this.type,
          width: 100,
          height: 100,
          stops: [
            ['rgba(255,255,255,0)', 0],
            ['rgba(255,255,230,0)', 0]
          ]
        })
      }
      this.colorPicker.on('change', this.onColorChange);
      this.colorPicker.on('init', this.onMount);
    },
    beforeUnmount() {
      this.colorPicker.off('change', this.onColorChange);
      this.colorPicker.off('init', this.onMount);
    },
    watch: {
      value(v) {
        this.setValue(v)
      }
    },
  }
</script>