<template>
  <div class="props" v-if="item" :class="{ focus: item.z }">
    <!-- // && item.active"> -->
    <b-autocomplete
      required
      placeholder="Buscar..."
      :open-on-focus="true"
      :data="['origin','destination']">
    </b-autocomplete>

    <template v-if="item.type==='text'">
      <div>
        Font color <br>
        <color-picker type="solid" v-model="item.color" />
        Font-size <br>
        0 <input v-model="item.fontSize" type="range"> 100%
      </div>
    </template>
    <div>
      Background color <br>
      <color-picker v-model="item.bg" />
    </div>
    <div>
      Border-radius {{ item.borderRadius }}
      <br> 0 <input v-model="item.borderRadius" max="50" type="range"> 100%
    </div>
    <!-- <div> Padding {{ item.padding }} <br> 0 <input v-model="item.padding" type="range"> 100% </div> -->
    <div>
      Opacity {{ item.opacity }} <br>
      0 <input v-model="item.opacity" type="range"> 100%
    </div>
    <div> Text Align: <br>
      <div class="align">
        <a v-for="(n,i) in Array(9)" :key="i" @click="item.align = i" :class="{ on: item.align==i }"></a>
      </div>
    </div>
  </div>
</template>

<script>

import ColorPicker from './picker.vue'

export default {
  name: 'Properties',
  props: [
    'item'
  ],
  mounted() {
    // console.info('!', this.item)
  },
  methods: {
  },
  components: {
    'color-picker': ColorPicker
  }
}
</script>
