<template>
  <div class="wrap">
    <div class="item"
      @mouseenter="hover(item); makeDragable($event)"
      @mouseleave="blur(item)"
      v-resize="resized"
      @click.stop="sel(item)"
      :class="{ focus: item.z || item===selected }"
      v-for="(item, k) in dom" :key="k"
        :style="[item.bg ? {
          'background': item.bg,
        } : item.type==='img' ? {
          'background-image': `url(${x(item.path)})`
        } : {}, {
          ...getAlign(item),
          'top': item.y || 0,
          'left': item.x || 0,
          'width': item.width || 'auto',
          'height': item.height || 'auto',
          'opacity': item.opacity / 100,
          'border-radius': item.borderRadius + '%'
        }]">t
          <!-- 'padding': item.padding / 10 + '%', -->
      <div class="handle">
      </div>
      <!-- <div class="handle"></div> -->
        <p v-if="item.type==='text'"
          :style="{
            'background-image': item.color,
            'font-size': (item.fontSize || 100) * 7.5 + '%'
          }">{{ x(item.path) }}</p>
    </div>
  </div>
</template>

<script>

  export default {
    props: {
      dom: {
        type: Array,
        default: [],
      },
    },
    data() {
      return {
        x: null,
      };
    },
    methods: {
    },
    mounted() {
    },
    beforeUnmount() {
    },
    watch: {
    },
  }
</script>