<template>
  <div :class="{ 'subtree': !root }" class="tree">
    <div v-for="(item, keyName) in thisJson" :key="keyName">
      <Key v-if="isOpen"
        :open="isChildOpen"
        :child-open="false"
        :key-name="keyName"
        :item="item"
        :original-json="originalJson"
        @check="clicked(keyName)"
        @update="sendUpdate">
      </Key>
    </div>
  </div>
</template>

<script>
import Key from '~/components/key.vue'

export default {
  name: 'Tree',
  props: [
    "thisJson", // object that this tree displays
    "originalJson", // the original json object (app.json)
    "root", // root = false on all subtrees -- gives them margin: 0 0 0 25px
    "open", // whether this tree is open and displaying its contents
    "childOpen", // whether the children of this tree are open
  ],
  data() {
    return {
      // path to be displayed in the path bar
      path: "",
      isOpen: this.open,
      isChildOpen: this.childOpen
    };
  },
  methods: {
    // open and close subtree, update path display on click
    clicked(key) {
      this.selected = true;
      this.isChildOpen = !this.isChildOpen;
      this.path = this.searchObject(this.originalJson, this.thisJson, key);
      // send the updated path up the chain
      this.$emit("update", this.path);
    },
    searchObject(oldObj, newObj, key, path) {
      path = path || "x";
      var output = "";
      var newPath;
      for (var item in oldObj) {
        // compare the keys and the objects themselves to find a match
        if (item == key && oldObj == newObj) {
          // put array indices in brackets
          if (Array.isArray(newObj))
            return path + "[" + item + "]";
          // put strings with spaces, periods, or brackets in brackets
          else if (item.indexOf(" ") != -1 || item.indexOf(".") != -1 ||
            item.indexOf("[") != -1 || item.indexOf("]") != -1)
            return path + '["' + item + '"]';
          // use dot notation for all else
          else
            return path + "." + item;
        }
        else if (typeof oldObj[item] == "object") {
          if (Array.isArray(oldObj))
            newPath = path + "[" + item + "]";
          else if (item.indexOf(" ") != -1 || item.indexOf(".") != -1 ||
            item.indexOf("[") != -1 || item.indexOf("]") != -1)
            newPath = path + '["' + item + '"]';
          else
            newPath = path + "." + item;
          output = this.searchObject(oldObj[item], newObj, key, newPath) || output;
        }
      }
      return output;
    },
    sendUpdate(path) {
    // sends this message up the chain
      this.$emit("update", path);
    }
  },
  components: {
    Key
  }
}
</script>