
*
  outline: 0
  // border: none
  // margin: 0
  // padding: 0
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
::selection
  background: #eee
::-webkit-scrollbar-track 
  box-shadow: inset 0 0 6px rgba(0,0,0,0)
  background-color: #fff
::-webkit-scrollbar 
  background-color: #fff
  width: 4px
::-webkit-scrollbar-thumb 
  border-radius: 4px
  background-color: #ddd

html
  width: 100%
  height: 100%

body
  background-color: #F8F8F8
  font-family: 'Josefin Sans', sans-serif
  font-weight: 400
  width: 100%
  height: 100%
  // opacity: .2
  margin: 0
  background: #eee
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100%
  font-size: .8vw

a.sample
  position: absolute
  top: 1vw
  left: 19vw
  color: #333
  padding: 1.2vw 2vw

.wrap
  width: 55vw
  height: 30.9375vw
  background: white
  top: 1vw
  left: 26vw
  position: absolute
  background: url(data:image/gif;base64,R0lGODlhGAAYAIAAAP///8zMzCH5BAAHAP8ALAAAAAAYABgAAAIyhI8Wy70JgZshJuoswk0fzngKWIlk6Z2iRK6q2cIn6Maprb03LXM1v/P1MD9hkDikrAoAOw==)
  > div
    // border: 1px solid transparent

  &:before
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(255, 255, 255, 0.8)
    z-index: 0
    content: ''
  .focus
    // border: 1px dashed #ccc

.item
  position: absolute
  min-width: 200px
  height: 80px
  background: none

  margin: 0
  overflow: hidden
  display: flex
  align-items: center
  background: 50% 50% no-repeat
  background-size: cover // contain // 
  resize: both

  .handle
    position: absolute
    left: 4px
    top: 4px
    width: calc(100% - 8px)
    height: calc(100% - 8px)
    // width: 100%
    // height: 100%
    cursor: move
    display: flex
    align-items: center
    // transition: transform ease-out 200s, box-shadow none
    // transform: translate3d(20px,20px,0)
  &.focus,
  &:hover
    box-shadow: 0 0 1px 0px #0037b29e, 0 0 1vw 0 rgba(0,0,0,0.12) 
  &:hover:after
    // opacity: 1
    transform: rotate(45deg)
  &:after
    transition: .2s transform ease-out, 0s box-shadow .2s 
    position: absolute
    content: ''
    background: #004baf5c
    bottom: -22px
    right: -22px
    width: 36px
    height: 36px
    cursor: nwse-resize
    transform: rotate(45deg) translate3d(10px,10px,0)
    // opacity: 0
    // z-index: 9999
    // pointer-events: none
  p
    margin: 0
    padding: 0
    width: 100%
    color: black
    font-size: 1.5vw
    pointer-events: none
    // .magic
    background-image: #222222 // linear-gradient(45deg, #ff2424, transparent);
    -webkit-background-clip: text
    background-clip: text
    color: transparent

  > *
    position: relative
    box-sizing: border-box

.handle:hover
  // background: rgba(255, 255, 255, 0.5)

a
  cursor: pointer
  text-decoration: underline
  color: white

  &:hover
    opacity: .75

.json
  margin: 1vw 0 
  max-width: 25vw

input.url
  padding: 1.2vw 1.2vw
  margin: 1vw 0 0
  width: 25vw
  font-size: .8vw
  box-sizing: border-box
  -webkit-appearance: none
  border: 1px solid #eee
.subtree
  margin: 0 0 0 .5vw

.property
  align-items: center
  background-color: white
  border-bottom: 1px solid #59595932
  color: #999
  // color: #04a029
  display: flex
  overflow: auto
  padding: .5vw .8vw

  &:hover
    cursor: pointer

.property-arrow
  color: green
  -webkit-text-stroke-width: .2vw
  font-size: 0.5em
  margin: 0 .5vw 0 0

.property-value
  color: #333
  word-break: break-all
  padding: 0 .5vw 0 1.2vw

.property-selected
  color: #04a029
  background-color: #fff
  border-bottom: 1px solid #55555580

.layers
  top: 1vw
  left: 82vw
  width: 18vw
  position: fixed
  background: white
  > a
    color: green
    padding: 1vw
    display: block
    text-decoration: underline
    border-bottom: 1px solid #ccc
  h3
    padding: 1vw 1vw 0
    font-weight: normal

.order
  .focus
    background-color: rgba(66, 120, 200, 0.15)
  > div
    cursor: pointer
    padding: 1vw 1vw
    position: relative
    border-bottom: 1px solid #ccc
    font-size: 110%
    label
      display: flex
      align-items: center
  a
    z-index: 9999
    padding: .32vw .5vw
    background: red
    cursor: pointer
    position: absolute
    right: 0
    top: 50%
    transform: translate3d(0,-50%,0)
  input
    width: 2vw
.props
  position: absolute
  top: 34vw
  left: 26vw
  width: 55vw
  // height: 26.6vh
  // bottom: 0
  overflow-y: scroll
  background: #fff
  box-sizing: border-box
  padding: 1%
  > div
    margin: 1%
    width: 48%
    background: #eee
    vertical-align: top
    display: inline-block
    float: left

  .align
    width: 4.6vw
    padding: 1vw
    background: #eee
    display: inline-block
    font-size: 0
    a
      display: inline-block
      text-align: center
      &:after
        content: ''
        width: .5vw
        height: .5vw
        background: #f00
        border-radius: 50%
        margin: .5vw
        display: block
      &.on
        &:after
          background: #000

input[type="range"]
  // width: 100%
  // margin: 7.3px 0
  // width: 45%
  margin: 0
  // padding: 1vw
  // display: block
  -webkit-appearance: none
  &:focus
    outline: none
  &::-webkit-slider-runnable-track
    width: 100%
    height: .5vw
    cursor: pointer
    border-radius: .2vw
    border: 0.2px solid #00000050
    background: rgba(48, 112, 164, 0.8)
    // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  &::-webkit-slider-thumb
    width: 1.2vw
    height: 1.2vw
    cursor: pointer
    margin-top: -.38vw
    border-radius: 50%
    background: #ffffff
    -webkit-appearance: none
    border: 1px solid #00001e
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b
  &:focus::-webkit-slider-runnable-track
    background: rgba(124, 124, 124, 0.8)

.order
  > div
    cursor: pointer
    position: relative
    padding: 1vw 1vw
    // margin-bottom: 1vw
    // border-top: 1px solid #ccc
    display: flex
    align-items: center
    &:last-child
      border-bottom: 1px solid #ccc

    input
      margin-top: .5vw
      width: calc(100% - 1vw)
      display: block
      padding: .5vw
    [type=checkbox]
      width: auto
      margin: 0 
      margin-right: .8vw 

    > span
      display: flex
      align-items: center

    input
      border: 1px solid #ccc
    a
      padding: .32vw .5vw
      z-index: 9999
      background: #cc0000a0
      cursor: pointer
      position: absolute
      top: 0
      right: 0