<template>
  <div>
    <input class="url" type="search" placeholder="Endpoint URL"
    v-model="url" @click="save">
    <a class="sample" v-if="!url" @click="url='/sample.json'">Sample</a>
    <div class="json">
      <Tree  
        :this-json="json"
        :original-json="json"
        :root="true"
        :open="true"
        :child-open="false"
        @update="updatePath">
      </Tree>
    </div>
  
    <!-- <render :dom="dom" @click="selected = true" /> -->

    <div class="wrap" @click="selected = true">
      <div class="item"
        @mouseenter="hover(item); makeDragable($event)"
        @mouseleave="blur(item)"
        v-resize="resized"
        @click.stop="sel(item)"
        :class="{ focus: item.z || item===selected }"
        v-for="(item, k) in dom" :key="k"
          :style="[item.bg ? {
            'background': item.bg,
          } : item.type==='img' ? {
            'background-image': `url(${x(item.path)})`
          } : {}, {
            ...getAlign(item),
            'top': item.y || 0,
            'left': item.x || 0,
            'width': item.width || 'auto',
            'height': item.height || 'auto',
            'opacity': item.opacity / 100,
            'border-radius': item.borderRadius + '%'
          }]">
            <!-- 'padding': item.padding / 10 + '%', -->
        <div class="handle">
        </div>
        <!-- <div class="handle"></div> -->
          <p v-if="item.type==='text'"
            :style="{
              'background-image': item.color,
              'font-size': (item.fontSize || 100) * 7.5 + '%'
            }">{{ x(item.path) }}</p>
      </div>
    </div>

    <Properties :item="selected"></Properties>

    <div class="layers">
      <h3>Layers</h3>
      <a @click="blankLayer">Create blank layer</a>
      <div class="order">
          <div
          @click="sel(item)"
          @mouseleave="blur(item)"
          @mouseenter="hover(item)"
          v-for="(item, k) in dom" :key="k+'layer'"
          :class="{ 'focus': item.z || item === selected }">
          <label>
            <p @input="name(item)"
              contenteditable>{{ item.name || item.path || 'No binding' }}</p>
            <a @click="remove(item['.key'])">Remove</a>
          </label>
        </div>
      </div>
      <!-- <pre v-html="JSON.stringify(selected,null,1)"></pre> -->
      <pre v-html="JSON.stringify(dom,null,1)"></pre>
    </div>

  </div>
</template>

<script>

import 'firebase/database';
import { database } from 'firebase/app'
window.db = database().ref('data')

import debounce from "../plugins/debounce";
import Properties from '~/components/props.vue'
import Tree from '~/components/tree.vue'
import Vue from 'vue'
window.eventHub = new Vue();

import resize from 'vue-resize-directive'

export default {
  directives: {
    resize,
  },
  head() {
    return {
      script: [
        { src: '/draggabilly.js' },
        { src: '/sortable.js' }
      ],
    }
  },
  data() {
    return {
      item: {
        bg: '',
        order: 0,
        width: '50%',
        height: '50%',
        // fontSize: 1,
        borderRadius: 0,
        opacity: 100
      },
      dom: [],
      json: {},
      url: 'sample2.json',
      path: "",
      shouldSave: true,
      lastState: [],
      selected: false,
      wrap: null
    }
  },
  mounted() {
    this.wrap = document.querySelector('.wrap')
    this.fetchData() 
    // window.x = this.dom
  },
  watch: {
    url: debounce(function(v){
      if(!v) return
      this.fetchData()
    }, 250),
    dom: debounce(function(v,a){
    // dom(v, a) {
      // console.info('same', this.lastState == v, 
      // 'change', JSON.stringify(this.lastState), JSON.stringify(v)) 
      // 'length: '+ v.length , v.length>0)
      if(this.shouldSave && v.length>0) {
        this.shouldSave = false
        // this.save()
        // console.log('this.shouldSave && v.length>0')
      }
      this.lastState = this.dom
      this.shouldSave = true
      // if(v!=a) this.shouldSave = true; 
      // this.makeSortable()
    }, 5000)
  },
  firebase: {
    dom: db.child('dom'),
  },
  methods: {
    getAlign(item) {
      let s = {}
      if(typeof item.align !== 'number') return false
      let n = item.align + 1
      // debugger
      switch (n) {
        case 1: case 2: case 3:
          s.alignItems = 'flex-start'
          break
        case 4: case 5: case 6:
          s.alignItems = 'center'
          break
        case 7: case 8: case 9:
          s.alignItems = 'flex-end'
          break
      }
      switch (n) {
        case 1: case 4: case 7:
          s.textAlign = 'left'
          break
        case 2: case 5: case 8:
          s.textAlign = 'center'
          break
        case 3: case 6: case 9:
          s.textAlign = 'right'
          break
      }
      return s
    },
    hover(item) {
      item.z = true
      if(item!=this.selected)
        this.save(item)
    },
    blur(item) {
      item.z = false
      if(item!=this.selected)
        this.save(item)
    },
    sel(v) {
      this.selected = v // this.dom[v['.key']]
      this.save(v)
    },
    save(item,cb) {
      if(!item) { // guartdo todo
        db.child('dom').set(this.dom).then(e => {
          console.info('saved all')
        })
      } else {
        db.child('dom').child(this.key(item.path)).set(item).then(e => {
          // console.info('saved', item)
          if(typeof cb == 'function') cb()
        })
      }
    },
    makeSortable() {
      let el = document.querySelector('.order');
      console.info('makeSortable?', el)
      if(el) {
        var sortable = Sortable.create(el, {
          // handle: '.handle',
          animation: 150,
          onSort: (e) => {
            console.log('sorted', e)
          },
        })
      }
    },
    blankLayer() {
      this.dom.push({
        opacity: '100',
        width: '50%',
        height: '50%',
        path: Math.random().toString(36).substr(2, 8),
        bg: 'linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%)',
      })
    },
    x(path) {
      return this.locate(this.json, path)
    },
    key(p) {
      // console.info(p)
      // debugger
      return typeof p !== 'string' ? 'x' : p.replace(/\./g,',').replace(/\[/g,'(').replace(/\]/g,')')
    },
    fetchData() {
      fetch(this.url).then(r=>r.json()).then(res=>{
        this.json = res
      })
    },
    updatePath(path) {
      this.path = path;
      let data = this.locate(this.json, path);
      // console.info(path, data)
      if(typeof data !== 'string') return
      this.item.order++
      let item = {
        path,
        ...this.item,
        type: data.includes('http') ? 'img' : 'text'
      }
      db.child('dom').child(this.key(item.path)).set(item).then((e) => {
        console.log('saved,', e)
      })
      // this.dom.push(item)
    },
    locate(obj, path) {
      try {
        path = path.split('.').slice(1)
        var arrayPattern = /(.+)\[(\d+)\]/;
        search:
        for (var i = 0; i < path.length; i++) {
          var match = arrayPattern.exec(path[i]);
          if (match) {
            obj = obj[match[1]][parseInt(match[2])];
          } else {
            obj = obj[path[i]];
          }
        }
      } catch (error) {
        console.error('on locate value of path', path)
      }
      return obj;
    },
    remove(key) {
      console.log('key', key)
      // let key = item.path.replace('.',',')
      db.child('dom').child(key).remove()
      // this.dom.splice(k,1)
    },
    maxSize(e) {
      let x = e.offsetLeft
      let y = e.offsetTop
      e.style.maxWidth = this.wrap.offsetWidth - Number(x) + 'px'
      e.style.maxHeight = this.wrap.offsetHeight - Number(y) + 'px'
    },
    makeDragable(e) {
      let t = e.target
      if(!t.classList.contains('item')) return
      // this.maxSize(t)
      if(!t.draggie) {
        t.draggie = new Draggabilly(t, {
          containment: '.wrap',
          handle: '.handle'
        })
        t.draggie.on('dragEnd', e => {
          // let d = t.parentNode
          console.info('Drag ended', e, t)
          if(t.draggie && typeof this.selected == 'object') {
            setTimeout(() => {
              let e = t.getBoundingClientRect()
              let p = t.parentNode.getBoundingClientRect()
              let { x, y } = t.draggie.position
              if(y<1) y = 0
              if(x<1) x = 0
              let limit_x = p.width - e.width
              let limit_y = p.height - e.height
              console.info('x + e.width ->', x + e.width, 'p width ->', p.width)
              console.info('y + e.height ->', y + e.height, 'p height ->', p.height)
              this.selected.y = y / p.height * 100 + '%'
              this.selected.x = x / p.width * 100 + '%'
            }, 0)
            // t.style.top = this.selected.pos.y
            // t.style.left = this.selected.pos.x
          }
          this.maxSize(t)
        })
      }
    },
    resized(e) {
      let x = e.getBoundingClientRect()
      let p = e.parentNode.getBoundingClientRect()
      // console.info('selected', this.selected)
      if(typeof this.selected == 'object') {
        this.selected.width = x.width / p.width * 100 + '%'
        this.selected.height = x.height / p.height * 100 + '%'
      }
      // console.info('resized', x, y, w, h)
    }
  },
  components: {
    Tree,
    Properties
  },
}
</script>

<style src="~/assets/style.sass" lang="sass"></style>