<template>
  <div>

    <div class="wrap">
      <div class="item"
        v-for="(item, k) in dom" :key="k"
          :style="[item.bg ? {
            'background': item.bg,
          } : item.type==='img' ? {
            'background-image': `url(${x(item.path)})`
          } : {}, {
            ...getAlign(item),
            'top': item.y || 0,
            'left': item.x || 0,
            'width': item.width || 'auto',
            'height': item.height || 'auto',
            'opacity': item.opacity / 100,
            'border-radius': item.borderRadius + '%'
          }]">
          <p v-if="item.type==='text'"
            :style="{
              'background-image': item.color,
              'font-size': (item.fontSize || 100) / 10 + 'vw'
            }">{{ x(item.path) }}</p>
      </div>
    </div>

  </div>
</template>

<script>

import 'firebase/database';
import { database } from 'firebase/app'
window.data = database().ref('data')

export default {
  data() {
    return {
      dom: [],
      json: {},
      url: "/sample2.json",
      path: "",
    }
  },
  mounted() {
    this.fetchData() 
  },
  firebase: {
    dom: data.child('dom'),
  },
  methods: {
    x(path) {
      return this.locate(this.json, path)
    },
    fetchData() {
      fetch(this.url).then(r=>r.json()).then(res=>{
        this.json = res
      })
    },
    getAlign(item) {
      let s = {}
      if(typeof item.align !== 'number') return false
      let n = item.align + 1
      // debugger
      switch (n) {
        case 1: case 2: case 3:
          s.alignItems = 'flex-start'
          break
        case 4: case 5: case 6:
          s.alignItems = 'center'
          break
        case 7: case 8: case 9:
          s.alignItems = 'flex-end'
          break
      }
      switch (n) {
        case 1: case 4: case 7:
          s.textAlign = 'left'
          break
        case 2: case 5: case 8:
          s.textAlign = 'center'
          break
        case 3: case 6: case 9:
          s.textAlign = 'right'
          break
      }
      return s
    },
    locate(obj, path) {
      try {
        path = path.split('.').slice(1)
        var arrayPattern = /(.+)\[(\d+)\]/;
        for (var i = 0; i < path.length; i++) {
          var match = arrayPattern.exec(path[i]);
          if (match) {
            obj = obj[match[1]][parseInt(match[2])];
          } else {
            obj = obj[path[i]];
          }
        }
      } catch (error) {
        console.error('on locate value of path', path)
      }
      return obj;
    },
  },
}
</script>

<style src="~/assets/style.sass" lang="sass"></style>

<style lang="sass" scoped>

  .wrap
    width: 100%
    height: 100%
    top: 0
    left: 0
    right: 0
    bottom: 0

</style>